body {
    font-family: Arial, sans-serif;
    background: #2e2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background: #fffdfd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(235, 231, 231);
    width: 300px;
    text-align: center;
}
input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}
button {
    padding: 10px;
    width: 60%;
    background: #4CAF50;
    color: white;
    border: none;
}
.error {
    color: red;
}
.link {
    display: inline-block;
    margin-top: 15px;
    color: #15fd00;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}