body {
    font-family: Arial, sans-serif;
    background: #2e2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background: #fffdfd;
    height: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(235, 231, 231);
    width: 250px;
    text-align: center;
}
input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}
button {
    padding: 10px;
    background: #68b6ff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
}
button:hover {
    background: #008cff;
    cursor: pointer;
}
.error {
    color: red;
}
.link {
    display: inline-block;
    margin-top: 15px;
    color: #68b6ff;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}