{% extends "base.html" %}

{% block content %}
<h2>Create New Entry</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST" enctype="multipart/form-data">

    <input type="text" id="title" name="title" placeholder="Title" required />

    <input id="content" name="content" placeholder="Content" required></input>

    <input type="file" name="image_file" id="image_file" accept="image/*">

    <button type="submit">Create Entry</button>

</form>

<a href="/dashboard" class="link">Back to Dashboard</a>

{% endblock %}