<!-- TODO: Rename this file to dashboard.html when ready -->

{% extends "base.html" %}

{% block content %}

<h2>Your Dashboard</h2>

<h3>Welcome, {{ username }}!</h3>

<!-- TODO: Add a button or link to create a new entry -->
<a href="/create">Create New Entry</a>

<br><br>

{% for entry in entries %}
    <div>
        <h3>{{ entry['title'] }}</h3>
        <p>{{ entry['content'] }}</p>

        <a href="/edit/{{ entry['id'] }}">Edit</a>
        <a href="/delete/{{ entry['id'] }}">Delete</a>

    </div>
    <hr>
{% endfor %}


"No entries yet!"

<br>

<a href="/logout"><button>Logout</button></a>

{% endblock %}